$padding: 2em;
$width: calc(100vw - 2 * #{$padding});
$height: calc(100svh - 2 * #{$padding});

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  padding: $padding;
  width: 100vw;
  height: 100svh;
  overflow-y: auto; // scroll the entire overlay
  background: rgba(2, 8, 0, 0.7);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  z-index: 1000;

  @media (max-width: 800px) {
    width: $width;
    height: $height;
  }
}

.content {
  background: var(--background-color);
  color: var(--text-color);
  padding: 2em;
  border-radius: 1em;
  max-width: 50em;
  width: 100%;
  height: max-content;
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  margin: $padding 0; // add vertical margin instead of fixed 10em

  @media (max-width: 800px) {
    font-size: 0.8em;
  }
}

.closeButton {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  background: transparent;

  border: none;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;

  line-height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--background-color);
  box-shadow: 0 2px 10px 10px rgba(0, 0, 0, 0.1);
  color: var(--secondary-color);
  border-radius: 50%;

  cursor: pointer;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }
}
