$padding: 1em;
$width: calc(100vw - 2 * #{$padding});
$height: calc(100svh - 2 * #{$padding});

.overlay {
  position: fixed;
  top: 0;
  left: 0;

  padding: $padding;
  width: $width;
  height: $height;
  background: rgba(2, 8, 0, 0.7); // Dark text color with opacity
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.content {
  background: var(--background-color);
  color: var(--text-color);
  padding: 2em;
  border-radius: 1em;
  max-width: 50em;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--primary-color);
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    color: var(--secondary-color);
  }
}
