/* app/admin/gallery/GalleryManager.module.scss */

.uploadBox {
  margin: 2rem 0;
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 2rem;
  background-color: #f9fafb;

  h3 {
    margin-top: 0;
    font-family: var(--title-font);
    color: var(--primary-color);
  }
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
}

.imageContainer {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);

  &:hover .deleteButton {
    opacity: 1;
    transform: translateY(0);
  }
}

.deleteButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: rgba(167, 43, 43, 0.8); // secondary color
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  transform: translateY(-10px);
  z-index: 10;

  &:hover {
    background-color: var(--secondary-color);
    transform: scale(1.1);
  }
}
