.container {
  width: calc(100% - 8em);
  padding: 2em 4em;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  p {
    margin: 0;
  }
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;

  a {
    transition: transform 0.2s ease;
    font-size: 1.5em;

    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }
}
