.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--background-color);
  text-align: center;
  padding: 4rem 1.5rem;
}

.content {
  max-width: 1100px;

  h2 {
    color: #fff;
  }

  p {
    margin: 1rem auto 0 auto;
    opacity: 0.9;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 3rem;
  text-align: left;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.card {
  background: rgba(255, 255, 255, 0.05);
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid rgba(248, 244, 233, 0.2);

  display: grid;
  grid-template-rows: 60% 15% 25%;
  align-items: center;
  justify-content: center;

  // Drop shadow for better feeling
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  h3 {
    margin-top: 0;
    color: var(--accent-color);
  }
}

.icon {
  font-size: 2.5rem;
  color: var(--accent-color);
  margin: auto;
  margin-bottom: 1.5rem;
  height: 5em;
  width: auto;
}
