@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --text-color: #020800;
  --background-color: #f8f4e9;
  --primary-color: #6b7d47;
  --secondary-color: #a73e2b;
  --accent-color: #e8b542;

  --body-font: "Playfair Display", serif;
  --title-font: "Montserrat", sans-serif;
}

body {
  font-family: var(--body-font);
  min-height: 100svh;
  margin: 0;
  padding: 0;
  background-color: #fdfdfd;
  color: #333;
}

.main-content {
  max-width: 960px;
  margin: 2rem auto;
  padding: 0 1rem;
  min-height: 70vh;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Masonry Layout Styles */
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -20px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 20px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  background: #f9f9f9; /* A light background for each item */
  margin-bottom: 20px;
  border-radius: 8px;
}
