.heading {
  color: #333;
  font-weight: 600;
  font-family: var(--title-font);
}

.level1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.level2 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.level3 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}
