/* components/organisms/HomePage/ExperiencesSection.module.scss */
.section {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  padding: 4rem 1.5rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-size: cover;
  background-position: center;
  z-index: 0;

  img {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    object-fit: cover;
    filter: blur(2px);
  }
}

.content {
  position: relative;
  z-index: 2;
  max-width: 900px;
}

.dropShadowFilter {
  color: #fff;
  filter: drop-shadow(0 0 5px rgb(0, 0, 0));
}

.textColumns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  text-align: left;
  margin-top: 2rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
