.card {
  background-color: var(--background-color); 
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
  }
}

.linkWrapper {
  text-decoration: none;
  color: inherit; // Makes the link inherit the text color from its parent
  display: block; // Ensures the link wrapper takes up the full space of the card

  &:hover {
    text-decoration: none; // Remove underline on hover
  }
}

.content {
  padding: 1.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.price {
  margin-top: auto;
  padding-top: 1rem;
  font-size: 1.75rem;
  font-family: var(--title-font);
  font-weight: 700;
  color: var(--accent-color);
  align-self: flex-end;
}